
.game-board {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.cell {
  flex-basis: 33%;
  height: 100px;
  box-sizing: border-box;
}

.cell.row0 {
  border-bottom: 2px solid mediumseagreen;
}

.cell.row2 {
  border-top: 2px solid mediumseagreen;
}


.cell.col0 {
  border-right: 2px solid mediumseagreen;
}

.cell.col2 {
  border-left: 2px solid mediumseagreen;
}